.container{
    display: flex;
    width: 100%;
    height: 100%;
    background-color: transparent;  
    color: inherit;
}
.topNav{
    display: none;
}
@media screen and (max-width: 800px) {
    .container{
        overflow-x: hidden;
        justify-content: center;
    }
    .topNav{
        display: flex;
        width: 100%;
        height: 50px;
        background-color: #ffffff;
        position: fixed;
        z-index: 999;
        padding: 10px;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #e3e3e3;
        transition: .3s ease;
    }
    .topNav span{
        display: flex;
        gap: 10px;
        font-size: 25px;
    }
  }