.aside {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 350px;
  height: 100%;
  background-color: transparent;
  border-right: 1px solid #e1e1e1;
  justify-content: space-between;
  transition: .3s ease;
}
.sectionFirst {
  display: flex;
  flex-direction: column;
}
.logo {
  margin-bottom: 30px;
  margin-left: 20px;
  margin-top: 20px;
  cursor: pointer;
}
.options {
  text-decoration: none;
  color: inherit;
  font-weight: 400;
  font-size: 18px;
  margin: 10px;
  margin-left: 20px;
  padding: 5px;
  display: flex;
  margin-block: 5px;
  gap: 10px;
  position: relative;
  border-radius: 5px;
  transition: 0.3s ease;
  cursor: pointer;
  display: flex;
  align-items: center;
  height: 50px;
}
.pfp,
.reelsIcon {
  position: relative;
  top: 1px;
  margin-left: 7px;
  margin-right: 8px;
  transition: 0.3s ease;
  object-fit: cover;
}
.pfp {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 2px;
  margin-left: 6px;
}
.options i {
  position: relative;
  top: 1px;
  font-size: 20px;
  padding: 10px;
  transition: 0.3s ease;
}
.options:hover {
  background-color: #efefef;
}
.options:hover i,
.options:hover .pfp,
.options:hover .reelsIcon {
  transform: scale(1.1, 1.1);
}
.sectionSecond {
  display: flex;
  flex-direction: column;
}
.moreOptionsContainer {
  height: 400px;
  width: 270px;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 70px;
  background-color: white;
  z-index: 999;
  box-shadow: 0 0 10px rgb(188, 188, 188);
  border-radius: 15px;
  justify-content: center;
}
.moreOptionsContainer .options {
  font-size: 14px;
  margin-left: 10px;
}
.above,
.below {
  border-radius: 15px;
  border: 1px solid rgba(1, 1, 1, 0.5);
  border-color: rgba(1, 1, 1, 0.5);
}
.above {
  border-bottom: 2px solid #949494;
  border-color: rgba(0, 0, 0, 0.1);
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
.below {
  border-top: 2px solid #949494;
  border-color: rgba(0, 0, 0, 0.1);
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}
.instaLogo {
  display: none;
  font-size: 25px;
  transition: .5s ease-in-out;
}
a {
  text-decoration: none;
}
.searchbox{
  width: 400px;
  max-width: 400px;
  /* min-width: 300px; */
  height: 100%;
  z-index: 9999;
  background-color: #ffffff;
  position: absolute;
  top: 0;
  left: 3.8%;
  transition: .3s ease;
  border: 1px solid #d7d7d7;
  animation: animation .5s  1  both;
}
.logo1{
  font-size: 25px;
  padding: 20px 0px 0px 35px;
  transition: .5s ease-in-out;
  margin-block: 10px;
  margin-bottom: 49px;
  color: black;
  animation: logoAnimation .5s  1  both;
}
@keyframes animation{
  from{
    width: 0px;
    opacity: 0;
  }to{
    width: 400px;
    opacity: 1;
  }
}

@keyframes logoAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media screen and (max-width: 1800px) {
  .searchbox{
    left: 4%;
  }
}
@media screen and (max-width: 1700px) {
  .searchbox{
    left: 4.5%;
  }
}
@media screen and (max-width: 1600px) {
  .searchbox{
    left: 4.7%;
  }
}
@media screen and (max-width: 1500px) {
  .searchbox{
    left: 5%;
  }
}
@media screen and (max-width: 1200px) {
  .options span {
    display: none;
  }
  .logoContainer{
    display: none;
  }
  .logo {
    display: none;
  }
  .instaLogo {
    display: block;
    text-align: center;
    margin-block: 10px;
  }
  .aside {
    width: 100px;
  }
}
@media screen and (max-width: 800px) {
   .aside{
    flex-direction: row;
    width: 100vw;
    height: 70px;
    position: fixed;
    z-index: 9999;
    bottom: 0px;
    left: 0;
   }
   .sectionSecond{
    display: none;
   }
   .sectionFirst{
    flex-direction: row;
    background-color: #ffffff;
   }
  }