.footer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    flex-shrink: inherit;
    flex-wrap: wrap;
    font-size: 12px;
    padding: 10px;
    min-width: 280px;
}
.footer a{
    margin-inline: 10px;
    text-decoration: none;
    color: rgb(138, 138, 138);
}
.footer a:hover{
    text-decoration: underline;
}