.container {
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.post {
  /* border: 1px solid red; */
  width: 90%;
  height: auto;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 20px;
}
.header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
  justify-content: space-between;
  padding: 1px;
}
.userInfo {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 80%;
  justify-content: flex-start;
}
.user {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.pfp {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  cursor: pointer;
}
.user p:nth-child(1) {
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}
.user span {
  color: #808080;
  font-weight: 400;
  font-size: 12px;
}
.user p:nth-child(2) {
  font-size: 12px;
}
.imageContainer {
  position: relative;
  width: 100%;
  max-height: 70vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  background-color: black;
  border-radius: 3px;
  user-select: none;
  cursor: pointer;
}
.contentImage {
  object-fit: cover;
  object-position: center;
}
.contentMask {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.engagementBtns {
  margin-top: 10px;
  padding: 1px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.engagementBtns div {
  display: flex;
  gap: 15px;
  align-items: center;
}
.engagementBtns div i:nth-child(3) {
  transform: rotate(30deg);
  font-weight: bold;
}
.engagementBtns i {
  font-size: 22px;
  cursor: pointer;
}
.engagementBtns i:hover {
  color: gray;
}
.likes {
  padding: 1px;
  font-size: 14px;
  font-weight: 600;
  margin-block: 10px;
}
.caption {
  width: 100%;
  word-break: break-all;
  padding: 1px;
  margin-bottom: 10px;
}
.caption p {
  font-size: 14px;
  font-weight: bold;
}
.caption span {
  font-weight: 400;
}
.viewComment {
    padding: 1px;
  color: #808080;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 10px;
}
.viewComment p{
    cursor: pointer;
    display: inline;
}
.addComment{
    display: flex;
    padding: 1px;
    justify-content: space-between;
    padding-bottom: 10px;
    border-bottom: 1px solid #808080;
    /* position: relative; */
}
.addComment i,.addComment p{
    font-size: 14px;
    color: #808080;
    cursor: pointer;
}
.emojiContainer{
    position: absolute;
    right: 0;
    bottom: 10%;
}