.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease;
  z-index: 9999;
}
.modal{
  width: 70%;
  height: 90%;
  display: flex;
  background-color: white;
  position: relative;
}
.imagesHolder{
  width: 65%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-right: 1px solid #e9e9e9;
  overflow: hidden;
}
.imageContainer{
  flex-shrink: 0; 
  width: 100%; 
  height: 100%; 
  display: inline-flex;
  transition: transform 0.5s ease; 
  align-items: center;
  justify-content: center;
  position: relative;
}
.content{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.scrollBtnContainer{
  width: 65%;
  position: absolute;
  display: flex;
  padding: 10px;
  justify-content: space-between;
  top:50%;
}
.rightArrow,.leftArrow{
  width: 30px;
  height: 30px;
  color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0,0.7);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 999999;
}
.imageMask{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
}
.postDeails{
  display: flex;
  width: 35%;
  height: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  position: relative;
  min-width: 400px;
}
.user{
  padding: 15px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e9e9e9;
}
.userDetails,.aboutContent{
  display: flex;
  gap: 10px;
  align-items: center;
  word-break: break-all;
}
.userDetails p{
  font-size: 15px;
  font-weight: 600;
}
.pfp,.likedBypfp{
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
}
.commentSection{
  width: 100%;
  height: 72%;
  border-bottom: 1px solid #e9e9e9;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 15px;
  overflow: hidden;
  overflow-y: auto;
}
.aboutContent,.comment{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.caption{
  font-size: 15px;
  display: inline;
}
.caption span{
  font-weight: 600;
}
.comments{
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  margin-top: 15px;
}
.commentedBy{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 15px;
}
.comment{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
.commentDiv{
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.commentTimestamp{
  font-size: 13px;
  color:gray
}
.postOverView{
  width: 100%;
  height: 13%;
  border-bottom: 1px solid #e9e9e9;
  display: flex;
  flex-direction: column;
  padding: 15px;
  gap: 10px;
}
.interactions{
  display: flex;
  justify-content: space-between;
}
.interactions span{
  display: flex;
  gap: 20px;
  font-size: 25px;
  justify-content: center;
  align-items: center;
}
.interactions i{
  cursor: pointer;
}
.likedBy{
  display: flex;
  width: 100%;
  height: 100%;
  margin-block: 10px;
  justify-content: center;
  gap: 10px;
  font-size: 15px;
  color: #636363;
  flex-direction: column;
}
.likesOfuser{
  display: flex;
}
.likes{
  display: flex;
  gap: 10px;
}
.likedBypfp{
  width: 20px;
  height: 20px;
  margin-left: -5px;
}
.likedBypfp:nth-child(1){
  margin-left: 0px;
}
.postedOn{
  display: block;
  font-size: 12px;
  color: #979797;
  margin-top: -5px;
}
.addComment{
  display: flex;
  gap: 15px;
  padding: 15px;
  justify-content: center;
  width: 100%;
}
.addComment i {
  font-size: 23px;
  cursor: pointer;
}
.addComment input{
  border: none;
  width: 100%;
  background: none;
  margin-right: 60px;
}
.addComment input:focus{
  outline: none;
}
.addComment button{
  background: none;
  border: none;
  color: #00aaff;
  font-weight: bold;
  cursor: pointer;
}
.emojiPicker{
  position: absolute;
  bottom: 60px;
  left: 10px;
}
.imageSkeleton{
  width: 100%;
  height: 100%;
}
.noComment{
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  margin-top: 50px;
  color: #9c9a9a;
}
@media screen and (max-width: 2100px) {
  .modal{
    width: 60%;
  }
}
@media screen and (max-width: 1900px) {
  .modal{
    width: 70%;
  }
}
@media screen and (max-width: 1700px) {
  .modal{
    width: 75%;
  }
}
@media screen and (max-width: 1500px) {
  .modal{
    width: 80%;
  }
}
@media screen and (max-width: 1400px) {
  .modal{
    width: 85%;
  }
}
@media screen and (max-width: 1350px) {
  .modal{
    width: 85%;
  }
  .postDeails{
    width: 35%;
    min-width: 300px;
  }
  .imagesHolder{
    width: 68%;
  }
}
@media screen and (max-width: 1100px) {
  .modal{
    width: 90%;
  }
  .postDeails{
    width: 35%;
    min-width: 300px;
  }
  .imagesHolder{
    width: 68%;
  }
}
@media screen and (max-width: 1000px) {

  .postDeails{
    width: 40%;
    min-width: 300px;
  }
  .imagesHolder{
    width: 60%;
  }
  .scrollBtnContainer{
    width: 60%;
  }
}