.postDetailsSection{
    display: flex;
    height: 100%;
    flex-direction: column;
}
.user{
    display: flex;
    justify-content: flex-start;
    margin-block: 20px;
    padding-inline: 20px;
    gap: 10px;
    justify-content: flex-start;
}
.pfp{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.user p{
    padding-top: 4px;
    font-weight: 500;
    text-align: center;
    font-size: 14px;
}
.caption{
    background-color: transparent;
    padding: 10px;
    padding-inline: 20px;
    font-size: 16px;
    word-wrap: break-word;
    word-break: break-all;
    overflow: hidden;
    overflow-y: auto;
    resize:none;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
}
.caption::placeholder{
    font-family: Arial, Helvetica, sans-serif;
}
.caption:focus{
    outline: none;
}
.emojiContainer{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.emojiContainer p{
    font-size: 13px;
    color: #979797;
}