.aside{
    display: flex;
    flex-direction: column;
    width: 30%;
    max-width: 350px;
    min-width: 300px;
    height: 100%;
    background-color: transparent;
    border-right: 1px solid #e1e1e1;
    justify-content: space-between;
}
.sectionFirst{
    display: flex;
    flex-direction: column;
}
.logo{
    margin-block: 10px;
    margin-bottom: 30px;
    margin-left: 20px;
}
.options{
    font-weight: 400;
    font-size: 18px;
    margin: 10px;
    margin-left: 20px;
    padding: 5px;
    display: flex;
    margin-block: 5px;
    gap: 10px;
    position: relative;
    border-radius: 5px; 
    transition: .3s ease;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.pfp{
    position: relative;
    top: 10px;
}
.options:has(pfp){
    padding: 5px;
}
.options i{
    position: relative;
    top: 1px;
    font-size: 20px;
    padding: 10px;
}
.options:hover{
    background-color: #e1e1e1;
    
}
.sectionSecond{
    display: flex;
    flex-direction: column;
}