.container{
   background-color: white;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   width: 99vw;
   height: 99vh;
   gap: 100px;
   color: black;
}
.hero{
    margin-top: 5%;
    display: flex;
    justify-content: space-center;
    align-items: center;
    gap: 10px;
    width: 50%;
    height: 70%;
}

