.loginFormContainer{
    height: 97%;
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: black;
    min-height: 600px;
}
.form{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 1px solid #c0c0c0; 
    margin-top: 50px;
    text-align: center;
}
.instagramFont{
    margin-top: 30px;
    margin-bottom: -20px;
   
}
.instructions{
    width: 80%;
    color: #737373;
    font-weight:500;
}
.inputContainer{
    display: flex;
    flex-direction: column;
    width: 72%;
    position: relative;
    justify-content: center;
    align-items: center;
}
.xMark,.checkMark,.rotateMark{
    position: absolute;
    right: 5px;
    color: red;
    font-size: 22px;
}
.checkMark{
    color: #a8a8a8;
}
.checkPass{
    display: flex;
    position: absolute;
    right: 5px;
}
.rotateMark{
    color: #008ce9;
    cursor: pointer;
}
.checkPass .xMark,.checkPass .checkMark{
    right: 45px;
}
.checkPass p{
    font-weight: 600;
    color: #222;
    cursor: pointer;
}
.checkPass p:hover{
    color:  #a8a8a8;
}
.formInput{
    border: 1px solid #c0c0c0; 
    background-color: #fbfbfb;
    width: 100%;
    padding: 10px;
    font-size: 13px;
    border-radius: 4px;
    padding-right: 40px;
}
.formInput::placeholder{
    position: relative;
    top: 10px;
}
.formInput:focus{
    outline: 1px solid  #d6d6d6;
}
.passwordField{
    padding-right: 80px;
}
.username .xMark,.username .checkMark{
    right: 35px;
}
.formInputLable{
    font-size: 10px;
    position: absolute;
    top: 0px;
    left: 11px;
    color: #7b7b7b;
    transition: .1s ease-in-out;
    
}
.formInput:placeholder-shown ~ .formInputLable{
    top: 10px;
    font-size: 11px;
}
.SignupBtn{
    width: 70%;
    color: white;
    font-weight: bold;
    background-color: #4CB5F9;
    padding: 8px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
}
.SignupBtn:hover{
    background-color: #149cf6;
}
.SignupBtn:disabled{
 cursor: default;
}
.loginViaFacebookBtn{
    width: 70%;
    color: white;
    font-weight: bold;
    background-color: #008ce9;
    padding: 8px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
}
.loginViaFacebookBtn:hover{
    background-color: #0077c7;
}
.divider{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    color: rgb(138, 138, 138);
    font-size: 13px;
    font-weight:500;
    margin-top: -10px;
    margin-bottom: 5px;
}
.line{
    background-color: rgb(210, 210, 210);
    width: 35%;
    height: .1px;
}
.guidLines{
    font-size: 12px;
    text-align: center;
    width: 72%;
    color: #737373;
}
.guidLines a{
    color: #00376B;
    text-decoration: none;
}

.forgotPass{
    font-size: 13px;
    text-decoration: none;
    color: black;
}
.gotoLogin{
    border: 1px solid #c0c0c0; 
    font-size: 14px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    padding: 20px;
}
.gotoLogin span {
    font-weight: bold;
    color: #149cf6;
}
.getApp{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 14px;
    margin-bottom: 20px;
    gap: 10px;
}
.getApp div a{
    margin-inline: 5px;
}